

#Search,#Add,#User{
	padding-right:8%;
	color:white;
	font-size:2.5em;
}
#Home{
	padding-right:8%;
	padding-left:12.5%;
	font-size:2.5em;
	color:white;
}
#FormBox{
    height: 90%;
	padding:2%;
}

#GoogleSignIn{
	text-align:center;
}

#InputCraft{
	margin-bottom:8%;
	text-align:center;
	display:grid;
	font-size: 1.75em;
	font-family: 'Assistant', sans-serif;
	border: 1px solid #86b4e8;
	
}
#InputDescription{
	margin-bottom:8%;
	text-align:center;
	display:grid;
	font-size: 1.75em;
	font-family: 'Assistant', sans-serif;
	border: 1px solid #86b4e8;
}
#InputTool{
	margin-bottom:8%;
	text-align:center;
	display:grid;
	font-size: 1.75em;
	font-family:  'Assistant', sans-serif;
	
}
.InputStepImage{
	text-align:right;
	display:grid;
	font-size: 1.75em;
	font-family: 'Assistant', sans-serif;
}
.InputFinalImage{
	margin-bottom:8%;
	text-align:center;
	font-size: 1.75em;
	font-family: 'Assistant', sans-serif;
	margin-top: 8%;
	border: 1px solid #86b4e8;
}
.InputStepInstructions{
	margin-bottom: 8%;
    text-align: center;
    display: grid;
    font-size: 1.75em;
    font-family: 'Assistant', sans-serif;
}

#AddToolButton{
    margin: auto;
    text-align: center;
    margin-bottom: 10%;

}

#AddStepSquare{
	color:#92db8e;
	font-size:2em;
}
.AddInputButton{
	text-align: center;
}
.AddStepText{
	font-size:3em;
	font-family: 'Secular One', sans-serif;
    background-color: #92db8e; 
	color:white;
    border: none;
	width:1.5em;
	border-radius:100rem;
}
#AddToolSquare{
	color:#92db8e;
	font-size:1em;
}
#AddToolText{
	font-size:3em;
	font-family: 'Assistant', sans-serif;
    background-color: #92db8e; 
	color:white;
    border: none;
	width:1.5em;
	border-radius:100rem;
	
}
#UploadCraft{
	text-align:center;
}
#CraftTitle{
	font-size:x-large;
	margin: auto;
    border: none;
    border-bottom: 2px solid #92db8e;
	margin-bottom:5%;
}
#CraftDescription{
	font-size:x-large;
	margin: auto;
    border: none;
    border-bottom: 2px solid #92db8e;
	margin-bottom:5%;
}

.container {
  width: 100%;
}

.progressbar {
  counter-reset: step;
  padding-left: 5%;
  margin-bottom:10%;
  direction:rtl;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: 'Assistant', sans-serif;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: 50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #92db8e;
}
.progressbar li.active:before {
  border-color: #92db8e;
} 
.progressbar li.active + li:after {
  background-color:#92db8e;
}
#FormBox2{
	display:none;
}
#FormBox3{
	display:none;
}
.GoBack{
	background-color:white;
	border:none;
	color:#92db8e;
}
.twoToneCenter {
  text-align: center;
  margin: 1em 0;
      position: sticky;
    bottom: 0;
    left: 100;
	display:flex;
}
.twoToneButton {
  display: inline-block;
  outline: none;
  position: relative;
}

.twoToneButton:active {
  color: #black;
}
.twoToneButton.spinning {
  
  padding-right: 30px;
}
.twoToneButton.spinning:after {
  content: '';
  right: 6px;
  top: 50%;
  width: 0;
  height: 0;
  position: absolute;
  border-radius: 50%;
          animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
.twoToneButton.spinning:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 11px;
  top: 35%;
  position:absolute;
  border: 9px dashed white;
  border-right: 9px solid #86b4e8;
  -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
          animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
@-webkit-keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}
@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}

button.button { 
  	width: 100%;
    font-size: 1.75em;
  	border-radius: 100rem;
  	padding: 1rem;
  	font-family: 'Assistant', sans-serif;
  	padding: .5rem 3rem;
  	color:white;
  	border:none;
  	background-color:#92db8e;
  	position: sticky;
    bottom: 0;
}
button.nextbutton { 
  	width: 70%;
    font-size: 1.75em;
  	border-radius: 100rem;
  	padding: 1rem;
  	font-family: 'Assistant', sans-serif;
  	padding: .5rem 3rem;
  	color:white;
  	background-color:#92db8e;
	border:none;
  	position: sticky;
    bottom: 0;
}
button.backbutton { 
  	width: 25%;
	margin-left:10%;
  	border-radius: 100rem;
  	font-family: 'Assistant', sans-serif;
  	color:black;
  	background-color:white;
	border:2px solid #92db8e;
  	position: sticky;
    bottom: 0;
	opacity: .6;
}
#buttons{
	text-align: center;
    margin: 1em 0;
    position: sticky;
    bottom: 0;
    left: 100;
    display: flex;
}


.ToolsNeeded1{
	font-size: 70%;
    margin: auto;
    border: none;
    border-bottom: 2px solid #92db8e;
	margin-bottom: 8%;
}
.inputStepInstructionsTex{
	border-bottom: 2px solid #92db8e;
	font-size: 70%;
    margin: auto;
    border: none;
}
