
#Search,#Add,#User{
	padding-right:8%;
	color:white;
	font-size:2.5em;
}
#Home{
	padding-right:8%;
	padding-left:12.5%;
	font-size:2.5em;
	color:white;
}
#FormBox{
    height: 90%;
	padding:2%;
}

#GoogleSignIn{
	text-align:center;
}

#InputCraft{
	margin-bottom:8%;
	text-align:center;
	display:grid;
	font-size: 2.5em;
	font-family: 'Secular One', sans-serif;
}
#InputDescription{
	margin-bottom:8%;
	text-align:center;
	display:grid;
	font-size: 2.5em;
	font-family: 'Secular One', sans-serif;
}
#InputTool{
	margin-bottom:8%;
	text-align:center;
	display:grid;
	font-size: 2.5em;
	font-family: 'Secular One', sans-serif;
}
.InputStepImage{
	margin-bottom:8%;
	text-align:right;
	display:grid;
	font-size: 1.5em;
	font-family: 'Secular One', sans-serif;
}
.InputFinalImage{
	margin-bottom:8%;
	text-align:center;
	font-size: 2.5em;
	font-family: 'Secular One', sans-serif;
	margin-top: 8%;
}
.InputStepInstructions{
	margin-bottom: 8%;
    text-align: center;
    display: grid;
    font-size: 2.5em;
    font-family: 'Secular One', sans-serif;
}

#AddToolButton{
	text-align:right;
    margin-top: -4%;
    margin-bottom: 4%;

}

#AddStepSquare{
	color:#4986b2;
	font-size:2em;
}
.AddInputButton{
	text-align: center;
}
.AddStepText{
	font-size:1em;
	font-family: 'Secular One', sans-serif;
    background-color: #14a101; 
	color:white;
    border: 2px solid;
}
#AddToolSquare{
	color:#4986b2;
	font-size:1em;
}
#AddToolText{
	font-size:larger;
	font-family: 'Secular One', sans-serif;
    background-color: #14a101; 
	color:white;
    border: none;
}
#UploadCraft{
	text-align:center;
}
#CraftTitle{
	font-size:70%;
	margin: auto;
    border: none;
    border-bottom: 2px solid #14a101;
}
#CraftDescription{
	font-size:70%;
	margin: auto;
    border: none;
    border-bottom: 2px solid #14a101;
}
div.image {
   content:url(https://www.codenameone.com/img/blog/google-sign-in.png);
}​
.container {
  width: 100%;
}

.progressbar {
  counter-reset: step;
  padding-left: 5%;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: 'Tinos', serif;
  font-size: x-large;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
} 
.progressbar li.active + li:after {
  background-color: green;
}
#FormBox2{
	display:none;
}
#FormBox3{
	display:none;
}
.GoBack{
	background-color:white;
	border:none;
	color:#14a101;
	font-size: x-large;
	float: left;
}
.twoToneCenter {
  text-align: center;
  margin: 1em 0;
      position: sticky;
    bottom: 0;
    left: 100;
}
.twoToneButton {
  display: inline-block;
  outline: none;
  position: relative;
}

.twoToneButton:active {
  box-shadow: 0 0 10px #080808 inset, 0px 1px 0 #3b3b3b;
  color: #ffffff;
  background: #080808;
  background: linear-gradient(to bottom, #3b3b3b 0%, #2e2e2e 50%, #141414 51%, #080808 100%);
}
.twoToneButton.spinning {
  background-color: #212121;
  padding-right: 30px;
}
.twoToneButton.spinning:after {
  content: '';
  right: 6px;
  top: 50%;
  width: 0;
  height: 0;
  position: absolute;
  border-radius: 50%;
          animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
.twoToneButton.spinning:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 6px;
  top: 50%;
  position: absolute;
  border: 9px solid #000000;
  border-right: 9px solid #14a101;
  -webkit-animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
          animation: rotate360 0.5s infinite linear, exist 0.1s forwards ease;
}
@-webkit-keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}
@keyframes exist {
  100% {
    width: 15px;
    height: 15px;
    margin: -8px 5px 0 0;
  }
}
body {
  margin:0 auto;
}
button.button { 
	width: 100%;
    font-size: 4em;
  border-radius: 100rem;
  padding: 1rem;
  font-family: 'Secular One', sans-serif;
  padding: .5rem 3rem;
  color:black;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(0, 144, 255, 1), rgba(20, 161, 1, 1)), linear-gradient(101deg, #0090ff, #14a101);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
        position: sticky;
    bottom: 0;
    left: 100;
}
}
.ToolsNeeded1{
	font-size: 70%;
    margin: auto;
    border: none;
    border-bottom: 2px solid #14a101;
}
.inputStepInstructionsTex{
	border-bottom: 2px solid #14a101;
	font-size: 70%;
    margin: auto;
    border: none;
}
